# Ignore virtual environments
robot_env/
venv/

# Ignore Python cache and temp files
__pycache__/
*.pyc
*.pyo

# Ignore large models and datasets
*.h5
*.pt
*.tflite
*.onnx
data/train/images/
data/train/labels/
data/valid/images/
data/valid/labels/
data/test/images/
data/test/labels/
data/*.cache
models/checkpoints/
results/
runs/

# Ignore system and IDE files
.DS_Store
Thumbs.db
.vscode/
.idea/